.single-hero-slide {
    /* background-color: #B2DDED; */
    background-image: url('../../../Images/hero-bg.png');
    background-size: cover;
    padding-top: 1rem;
    /* padding-bottom: 220px; */
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 1rem;
}

.hero-slide-left {
    padding-right: 60px;
    margin-top: 9rem;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero-slide-left h2 {
    color: #283779;
    font-size: 26px;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero-slide-left h1 {
    color: #283779;
    font-size: 47px;
    line-height: 75px;
    margin-bottom: 20px;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero-slide-left p {
    color: #2D7EAA!important;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero-slide-left button {
    margin-top: 40px;
    font-weight: 700;
    outline: none!important;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}
.theme-btn {
    display: inline-block;
    border: 1px solid #283779;
    height: 61px;
    text-align: center;
    line-height: 55px!important;
    padding: 0 55px;
    background: #283779;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    border-radius: 3px;
    color: #fff;
    transition: .4s;
    font-weight: 600;
}

.btn-fill {
    margin-right: 20px;
}

.btn-fill:hover {
    background: #fff;
    color: #000!important;
    border-color: #fff;
}

.bth-blank {
    border-color: #fff;
    background: transparent;
}

.bth-blank:hover {
    border-color: #fc5185;
    color: #fff!important;
    background: #fc5185;
}

.animate-img {
    position: absolute;
    margin-top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;
}

.animate-img .aimg1 {
    left: 210px;
    position: relative;
    animation: movebounce 2s ease-in-out infinite;
    animation-delay: 100ms;
    animation-direction: alternate;
    bottom: 15px;
}

.animate-img .aimg2 {
    position: relative;
    left: 265px;
    top: 30px;
    animation-delay: 200ms;
    animation: movebounce 2.5s ease-in-out infinite;
    animation-direction: alternate;
}

.img-fluid{
    background-image: url('../../../Images/backgroud_image-removebg-preview.png');
    height: 25rem;
    width: 40rem;
    background-size: contain;
}